.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
main{
  max-width: 1440px;
}
.display-flex {
  display: flex;
}
.color-primary{
  color: #FEA301;
}
.color-secondary{
  color: #01ACFD;
}
.color-skyblue{
  color: #05D4DF;
}
.color-purple{
  color: #5D58EF;
}
a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

.btn-primary {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #FEA301;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 12px;
}

/* header section styles */
nav {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 186px;
  margin: 12px 140px;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}

nav ul li {
  list-style: none;
  text-decoration: none;
}

.main-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;

}
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.navbar img {
 width: 100%;
}


/* responsive styles */
@media screen and (max-width: 576px) {

  nav {
    justify-content: space-between;
    align-items: center;
   padding:12px 0;
   margin: 0px;;
    border-bottom: 1px solid #FEA301;
  }
  .nav-collapse
  ,.main-title {
    display: none;
  }
  .menu-icon {
    display: block;
  }
} 

/* responsive for medium  devices */
@media screen and (min-width: 577px) and (max-width: 970px) {
 nav{
  margin: 0px;
 }
  
}
/* responsive for large devices */
@media screen and (min-width: 971px) {
 
  
}