.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
main {
  max-width: 1440px;
  background-image: url(/assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 140px;
}

.cards-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.card-description {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 40px 40px 40px;
}

.section-title {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  padding: 40px 0 0 0;
}

.card-title {
  font-size: 1.2rem;
}

.display-flex {
  display: flex;
}

.color-primary {
  color: #FEA301;
}

.color-secondary {
  color: #01ACFD;
}

.color-skyblue {
  color: #05D4DF;
}

.color-purple {
  color: #5D58EF;
}

.color-muted {
  color: rgba(128, 128, 128, 1);
}

a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

.btn-secondary {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #FEA301;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
}

.btn-primary {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
}

/* header section styles */
header {
  margin: 12px 140px;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 186px;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}

nav ul li {
  list-style: none;
  text-decoration: none;
}

.nav-icon {
  justify-content: center;
  align-items: center;
}

.main-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;

}

.menu-icon {
  height: 32px;

  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.navbar img {
  height: 62px;
  width: 62px;
}

/* banner section styles */
.banner-section {
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
}

.banner-content {
  margin-bottom: 112px;
  width: 50%;
}

.banner-image img {
  width: 100%;
  max-width: 469px;
}

/* ------------Main section styles---------------- */

/* curriculum section */
.category-cards {
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  margin-top: 60px;
}

.category-card {
  height: 477px;
  width: 368px;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: white;
}

.category-card img {
  padding: 52px 0 24px 0;
}

#kinder {
  background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 15%, white 75%);
  border: 1px solid rgba(222, 245, 255, 1);
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
}

#elementary {
  background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 15%, white 75%);
  border: 1px solid rgba(222, 245, 255, 1);
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
}

#middle {
  background: linear-gradient(to bottom, rgba(242, 232, 255, 1)15%, white 75%);
  border: 1px solid rgba(222, 245, 255, 1);
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
}

/* -----------responsive styles----------------- */
@media screen and (max-width: 576px) {

  header,
  main {
    margin: 12px 0;
  }

  nav {
    grid-template-rows: repeat(1, 1fr);
    gap: calc(78% - 0px);
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FEA301;
  }

  .nav-collapse,
  .main-title {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .banner-section,
  .category-cards {
    flex-direction: column;

  }

  .banner-content {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .category-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .category-card {

    margin-right: 0px;

  }
}

/* responsive for medium  devices */
@media screen and (min-width: 577px) and (max-width: 970px) {

  nav {
    gap: 30px;
  }

}